{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block operation%}
    <br><a class="btn btn-secondary" href="{% url 'groups:create' %}" style="font-size: 30px">Create new group</a>
    <h1><font size="60px" color="#ffa600"  face="Calibri">Groups list</font></h1>
{% endblock %}


{% block main %}
    <div class="border p-3 m-3 bg-light text-dark rounded">
        <form method='get'>

          {{filter.form|crispy}}
          <input type="submit" class="btn btn-success" value="Search">
           <a class="btn btn-warning" href="{% url 'groups:list' %}">Reset</a>
        </form>
    </div>

    <table class="table table-striped table-hover">
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Faculty</th>
            <th>Course</th>
            <th>Headman</th>
            <th>✏️</th>
            <th>🗑</th>
          </tr>

    {% for group in groups %}
        <tr>
            <td>{{ forloop.counter0|add:page_obj.start_index }}</td>
            <td>{{ group.name }}</td>
            <td>{{ group.faculty }}</td>
            <td>{{ group.course }}</td>
            <td>{{ group.headman }}</td>
            <td><a href="{% url 'groups:update' group.id %}">UPDATE</a></td>
            <td><a href="{% url 'groups:delete' group.id %}">DELETE</a></td>
        </tr>
    {% endfor %}
    </table>

    {% include 'includes/paginator.html' %}

{% endblock %}



