{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block operation%}
    <h1><font size="60px" color="#ffa600"  face="Calibri">Edit group</font> </h1>
{% endblock %}


{% block main %}
    <form method='post'>
      {% csrf_token %}
      {{form|crispy}}

      <input type="submit" class="btn btn-success" value="Update">
    </form>

<h2 style="text-align: center; font-family: Arial"><br>Students:</h2>
    {% include 'includes/students-table.html' %}

<h2 style="text-align: center; font-family: Arial"><br>Teachers:</h2>
    {% include 'includes/teachers-table.html' %}

{% endblock %}

