{% extends 'base.html' %}


{% block operation%}
    <h1><font size="60px" color="#ffa600"  face="Calibri">Delete account</font> </h1>
{% endblock %}


{% block main %}
    <form method='post'>
      {% csrf_token %}
      <h3>Do you really want to delete account "{{user.username}}"?</h3>

      <input type="submit" class="btn btn-danger" value="Delete">
      <a href="{% url 'accounts:profile'%}" class="btn btn-light">Cancel</a>
    </form>
{% endblock %}

