{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block operation%}
   <div style="text-align: center">
      <a href="{% url 'index' %}"  class="btn btn-info" style="font-size: 25px">Home</a>
   </div>
{% endblock %}


{% block main %}
{% endblock %}

