{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block operation%}
    <h1><font size="60px" color="#ffa600"  face="Calibri">Account update</font> </h1>
{% endblock %}


{% block main %}
    <div>
        <form method='post' enctype="multipart/form-data">
          {% csrf_token %}

          <div class="media">
            <div class="img-circle.vert">
                <img class="rounded-circle p-1 m-1" width="200" height="200" alt="default" src="{{ user.profile.image.url }}">
            </div>
            <div class="media-body  p-3 m-3">
                <h2 class="account-heading" style="margin-top: 15px;">USERNAME: {{ user.username }}</h2>
                <h3 class="account-heading">FULL NAME: {{ user.first_name }} {{ user.last_name }}</h3>
                <p class="text-secondary">EMAIL: {{ user.email }}</p>
            </div>
          </div>

          {{user_form|crispy}}
          {{profile_form|crispy}}

          <input class="btn btn-success" type="submit" value="Save">
          <a href="{% url 'accounts:password' %}" class="btn btn-info">Change password</a>
          <a href="{% url 'accounts:delete' user.id %}" class="btn btn-danger">Delete Account</a>
        </form>
    </div>
{% endblock %}

