<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>LMS</title>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container">

  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}" style="color: gold; font-size: 60px">LMS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'students:list' %}" style="color: green; font-size: 30px">Students</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'teachers:list' %}" style="color: green; font-size: 30px">Teachers</a>
        </li>

         <li class="nav-item">
          <a class="nav-link" href="{% url 'groups:list' %}" style="color: green; font-size: 30px">Groups</a>
        </li>

          <li class="nav-item">
          <a class="nav-link" href="{% url 'courses:list' %}" style="color: green; font-size: 30px">Courses</a>
        </li>

      </ul>

    </div>

       <ul class="navbar-nav">
        {% if user.is_authenticated %}

           <li>
             <a href="{% url 'accounts:profile' %}"><img  src="{{user.profile.image.url}}" width="40px"></a>
           </li>

           <li class="nav-item">
             <a class="nav-link" href="{% url 'accounts:profile' %}" style="color: white; font-size: 20px">Profile ({{user.username}})</a>
            </li>

           <li class="nav-item">
             <a class="nav-link" href="{% url 'accounts:logout' %}" style="color: white; font-size: 20px">Logout</a>
           </li>

        {% else %}

            <li class="nav-item">
              <a class="nav-link" href="{% url 'accounts:registration' %}" style="color: white; font-size: 20px">Registration</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'accounts:login' %}" style="color: white; font-size: 20px">Sign in</a>
            </li>

        {% endif %}
       </ul>
  </div>
  </div>
</nav>


<div class="container" >

    {% include 'includes/messages.html' %}

    <div class="border p-3 m-3 rounded bg-light" style="text-align: center">
        {% block operation%}
            <h1>Welcome to LMS</h1>
        {% endblock %}
    </div>

{% block main %}
{% endblock %}

</div>


</body>
</html>