{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block operation%}
    <h1><font size="60px" color="#ffa600"  face="Calibri">Edit student</font> </h1>
{% endblock %}


{% block main %}
    <form method='post'>
      {% csrf_token %}
      {{form|crispy}}

      <input type="submit" class="btn btn-success" value="Update">
    </form>
{% endblock %}

