{% extends 'base.html' %}


{% block operation%}
    <h1><font size="60px" color="#ffa600"  face="Calibri">Delete student</font> </h1>
{% endblock %}


{% block main %}
    <form method='post'>
      {% csrf_token %}
      <h3>Do you really want to delete {{student.first_name}} {{student.last_name}}</h3>

      <input type="submit" class="btn btn-danger" value="Delete">
      <a href="{% url 'students:list'%}" class="btn btn-light">Cancel</a>
    </form>
{% endblock %}

