{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block operation%}
    <br><a class="btn btn-secondary" href="{% url 'students:create' %}" style="font-size: 30px">Create new student</a>
    <h1><font size="60px" color="#ffa600"  face="Calibri" >Student list</font></h1>
{% endblock %}


{% block main %}
    <div class="border p-3 m-3 bg-light text-dark rounded">
        <form method='get'>

          {{filter.form|crispy}}
          <input type="submit" class="btn btn-success" value="Search">
           <a class="btn btn-warning" href="{% url 'students:list' %}">Reset</a>
        </form>
    </div>

    {% include 'includes/students-table.html' %}
    {% include 'includes/paginator.html' %}

{% endblock %}



