{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block operation%}
    <br><a class="btn btn-secondary" href="{% url 'courses:create' %}" style="font-size: 30px">Create new course</a>
    <h1><font size="60px" color="#ffa600"  face="Calibri">Courses list</font></h1>
{% endblock %}


{% block main %}
    <div class="border p-3 m-3 bg-light text-dark rounded">
        <form method='get'>

          {{filter.form|crispy}}
          <input type="submit" class="btn btn-success" value="Search">
           <a class="btn btn-warning" href="{% url 'courses:list' %}">Reset</a>
        </form>
    </div>

    <table class="table table-striped table-hover">
          <tr>
            <th>Name</th>
            <th>Difficulty</th>
            <th>Group</th>
            <th>Teachers</th>
            <th>✏️</th>
            <th>🗑</th>
          </tr>

    {% for course in filter.qs %}
        <tr>
            <td>{{ course.name }}</td>
            <td>{{ course.difficulty }}</td>
            <td>{{ course.group }}</td>
            <td>{{ course.get_teachers }}</td>
            <td><a href="{% url 'courses:update' course.id %}">UPDATE</a></td>
            <td><a href="{% url 'courses:delete' course.id %}">DELETE</a></td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}



